<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test Login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38FAFFB11B644B3000608A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FAFFC51B644B3000608A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FAFFD01B644B3100608A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
